<!DOCTYPE html>
<html ng-app="App">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="style.css"/>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.3/angular.min.js"></script>
    <script src="ng-table-calculate.js"></script>
</head>
<body>

    <div ng-controller="TableCtrl">

        <table>
            <thead>
            <tr></tr>
                <th ng-repeat="item in model.columnsDefs">{{ item.title }}</th>
            </thead>
            <tbody>
                <tr ng-repeat="row in model.items">
                    <td ng-repeat="cell in row track by $index"
                        ng-class="{ disabled : model.columnsDefs[$index].disabled }"
                    >
                        <!-- If Formula or Relations exist add Calculate Directive -->
                        <i
                            ng-if="model.columnsDefs[$index].__formula || model.columnsDefs[$index].__relations"
                            grid-calculate-cell
                            item="cell"
                            items="row"
                            formula="model.columnsDefs[$index].__formula"
                            relations="model.columnsDefs[$index].__relations"
                        ></i>
                        <!-- /If Formula exist add Calculate Directive -->

                        <input ng-if="!model.columnsDefs[$index].disabled" ng-model="cell.value" />
                        <span ng-if="model.columnsDefs[$index].disabled">{{ cell.value }}</span>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</body>
</html>